h1
{
	color: orange;
}
h2
{
	color: red;
}
h3
{
	color: green;
}
a
{
	color: blue;
}
p1
{
	color: skyblue;
}
li
{
	color: blue;
	font-family: 'Brush Script MT', cursive;
}
a
{
	color: #42049c;
}